          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Acciones de Empleado</li>
              <li><%= link_to "Crear Cliente", new_user_path %></li>
              <li><%= link_to "Vender Pasaje", new_travel_path %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div>

