<h1>Bienvenido</h1>
<p>Disfruta de nuestros paquetes y ofertas...</p>
<div class="row-fluid">
<% if user_signed_in? and current_user.admin? and @travels.nil?%>
  <div class="alert alert-block">
  <h4>No existe ningún viaje...</h4>
    <p>
      Por favor, crea un hotel y luego un viaje.
    </p>
    <p>
      <%= link_to "Crear hotel", new_hotel_path, html_options = {:class => "btn btn-primary"} %> <%= link_to "Crear viaje", new_travel_path, html_options = {:class => "btn btn-primary"} %>
    </p>
  </div>
<% end %>
<% if !@travels.nil?%>  
<%= render 'travel_panel'%>
<% end %>
</div>
