<p>Bienvenido <%= @email %>!</p>

<p>Puedes confirmar el correo electronico de tu cuenta a través de el siguiente enlace:</p>

<p><%= link_to 'Confirmar cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
