<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a que exediste el número de veces que puedes intentar acceder a tu cuenta.</p>

<p>Cliquea en el enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
