          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Administración</li>
              <li><%= link_to "Crear Viaje", new_travel_path %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div>

